@font-face {
    font-family: 'font';
    src: url(./fontes/Montserrat-Regular.ttf);
}

*{
    padding: 0%;
    margin: 0%;
    text-emphasis-style: none;
    font-family: 'font';
    
}

html{
    scroll-behavior: smooth;
}
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

header{
    height: 100px;
    background-color: #333;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-scroll {
    background-color: #3333336c; /* Cor de fundo desejada ao rolar */
}

ul{
    text-align: center;
    padding: 40px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-right: 75px;
    width: 150px;
}

a{
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

a:hover{
    font-size: 1.2em;
    color: #f1d787;
    #f1d787
}

main{
    height: 100vh;
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e2d9;
    flex-direction: column;
}

.dropdown{
    position: relative;
}
.drop-menu{
    box-shadow: 1px 1px 1px black;
    box-sizing: content-box;
    background-color: #333333b2;
    position: absolute;
    display: block;
    color: white;
    display: none;
    left: 50%; 
    transform: translateX(-50%);
    text-align: center;
}

.drop-menu > li{
    margin-right: 0;
}
.dropdown:hover .drop-menu{
    display: block;
}

.logo {
    display: flex;
    border-radius: 100%;
    animation: neon 1.5s infinite alternate;

} 

@keyframes neon {
    0% {
       opacity: 0.2;
    }
    100% {
       opacity: 1;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    background-color: #e5e2d9;
    padding: 70px;
}

.promocao{ 
    background-color: #e5e2d9;
    display: flex;
    justify-content: center; 
    padding: 80px;
}
.promocao img{
    margin: 100px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow:10px 10px 25px #1b1a18;
    margin-top: 50px;
    cursor: pointer;

}
.promocao img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color: rgb(24, 32, 32);
}

.card-container{
    background-color: #3d3c3c;
    display: flex;
    justify-content: center; 
}
.card {
    width: 300px; 
    border: 1px solid #ccc; 
    padding: 40px; 
    text-align: center; 
    background-color: #E5E2D9;
    margin: 100px;
}

.card img {
    max-width: 100%; 
    margin-bottom: 30px; 
    background-color: #E5E2D9;
    border-radius: 20px;
}

.card p {
    font-size: 16px; 
    color: #333; 
}

.card h1{
    font-size: 20px;
}

.card a{
    color: #fff;
    font-size: 20px;
    background-color: #1b1a18;
    border: 1px solid #e5e2d9;
    padding: 10px;
}
.card a:hover{
    transform: scale(1.1);
    transition: 0.6s;
}

.conheca{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e2d9;
    padding: 20px;
}
.texto p {
    font-size: 30px;
    padding: 20px;
    line-height: 1.5;
    color: #1f1f20;
    text-align: center;
}

.coment {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coment img {
    margin: 20px;
    padding: 20px;
    width: 600px;
    height: auto;
    
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3c3c;
    padding: 100px;
}
.sociais img {
    width: 70px;
    margin-right: 20px;
}
.sociais img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.horario {
    font-size: 16px;
    text-align: center; 
    color: white; 
}

.horario p {
    margin: 5px 0;
}

.direitos-autorais{
    color: white;
}

.cadastro-button {
    position: fixed; 
    top: 50%; 
    right: 20px; 
    z-index: 3;
}

.btn-primary {
    background-color: #ca9a09;
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 18px; 
    cursor: pointer; 
}

.btn-primary:hover {
    background-color: #1f1f20;
}

@media (max-width:1200px){
    header > ul{
        display: none;
    }
    .promocao img{
        margin: 100px;
        width: 300px;
        height: auto;
        border-radius: 10px;
        box-shadow:10px 10px 25px #1b1a18;
        margin-top: 50px;
        cursor: pointer;
    
    }s
}

.material-symbols-outlined {
    border: 2px solid #1b1a18;
    border-radius: 50px;
    color: #1f1f20;
    background-color: rgba(172, 156, 153, 0.13);
    cursor: pointer;
    animation: neon 1.5s infinite alternate;
    font-size: 38px;
   
}

#icone{
    margin-top: 10em;
}
.material-symbols-outlined:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
