@font-face {
    font-family: 'font';
    src: url(./fontes/Montserrat-Regular.ttf);
}

*{
    padding: 0%;
    margin: 0%;
    text-emphasis-style: none;
    font-family: 'font';
    
}
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

header{
    height: 100px;
    background-color: #333;
    text-decoration: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-scroll {
    background-color: #3333336c; /* Cor de fundo desejada ao rolar */
}

ul{
    text-align: center;
    padding: 40px;
}

li {
    list-style-type: none;
    display: inline-block;
    margin-right: 75px;
    width: 150px;
}

a{
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

a:hover{
    font-size: 1.2em;
    color: #f1d787;
    #f1d787
}

main{
    padding: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e2d9;
}

.logo {
    display: flex;
    border-radius: 100%;
    animation: neon 1.5s infinite alternate;

} 

@keyframes neon {
    0% {
       opacity: 0.2;
    }
    100% {
       opacity: 1;
    }
}

.card-container {
    display: flex;
    justify-content: center;
    background-color: #e5e2d9;
    padding: 70px;
}

.promocao{ 
    background-color: #e5e2d9;
    display: flex;
    justify-content: center; 
    padding: 80px;
}
.promocao img{
    margin: 100px;
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow:10px 10px 25px #1b1a18;
    margin-top: 50px;
    cursor: pointer;

}
.promocao img:hover{
    transform: scale(1.1);
    transition: 0.3s;
    color: rgb(24, 32, 32);
}

.card-container{
    background-color: #3d3c3c;
    display: flex;
    justify-content: center; 
}
.card {
    width: 400px; /* Largura do card */
    border: 1px solid #ccc; /* Borda do card */
    padding: 40px; /* Espaçamento interno do card */
    text-align: center; /* Alinhamento do texto no centro */
    background-color: #E5E2D9;
    margin: 100px;
}

.card img {
    max-width: 100%; /* Garante que a imagem não exceda a largura do card */
    height: auto; /* Mantém a proporção da imagem */
    margin-bottom: 30px; /* Espaçamento inferior da imagem */
    background-color: #E5E2D9;
    border-radius: 20px;
}

.card p {
    font-size: 25px; /* Tamanho da fonte do texto */
    color: #333; /* Cor do texto */
}

.card a{
    color: #fff;
    font-size: 20px;
    background-color: #1b1a18;
    border: 1px solid #e5e2d9;
    padding: 10px;
}
.card a:hover{
    transform: scale(1.1);
    transition: 0.6s;
}

.conheca{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e2d9;
    padding: 20px;
}
.texto p {
    font-size: 30px;
    padding: 20px;
    line-height: 1.5;
    color: #1f1f20;
    text-align: center;
}

.coment {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coment img {
    margin: 20px;
    padding: 20px;
    width: 600px;
    height: auto;
    
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3c3c;
    padding: 100px;
}
.sociais img {
    width: 70px;
    margin-right: 20px;
}
.sociais img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.horario {
    font-size: 16px;
    text-align: center; 
    color: white; 
}

.horario p {
    margin: 5px 0;
}

.direitos-autorais{
    color: white;
}

.cadastro-button {
    position: fixed; 
    top: 50%; 
    right: 20px; 
}
.btn-primary {
    background-color: #ca9a09;
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    text-decoration: none; 
    font-size: 25px; 
    cursor: pointer; 
}

.btn-primary:hover {
    background-color: #1f1f20;
}