@font-face {
    font-family: 'font';
    src: url(../fontes/Montserrat-Regular.ttf);
}
*{
    padding: 0%;
    margin: 0%;
    font-family: 'font';
    
}
body {
    background-color: #20201e3a;
}


h1{
    margin-top: 2em;
    text-align: center;
    color: #38505C;
    font-size: 4em;
}

h2{ 
    margin-top: 2em;
    text-align: center;
    color: #505C5F;
    font-size: 2em;
}


form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 25px;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 3px;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 25px;
}


input[type="submit"] {
    background-color: #38505C;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 25px;
}

a{  
    color: black;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin-top: 30px;

}


input[type="submit"]:hover {
    background-color: #375a6b;
    display: flex;
}

@media screen {
    
}